<!--
      {% for melissa in tasks %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ melissa.name }}</td>
        <td>{{ melissa.task }}</td>
        <td>{{ melissa.description}}</td>
        <td>{{ melissa.day_of_the_week}}</td>
        #the name melissa is a variable that's defined from the html file and doesn't necessarily have to be defined in views.py it can be created separately but it should be meaningful. for instance melissa in tasks doesn't make as much sense as task in tasks.-->